<div ng-show="repositories.length > 0">
    <h3>User repositories</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repositories">
            <td>
                <a href="{{repo.html_url}}">{{repo.name}}</a>
            </td>
            <td>{{repo.description}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-warning" ng-show="repositories.length == 0">
    No data
</div>